src/main/mule/hi-mulesoft.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c4464d28-9538-446b-8b40-6791a33f9c67" >
		<http:listener-connection host="0.0.0.0" port="8787" />
	</http:listener-config>
	<flow name="hi-mulesoftFlow" doc:id="f3c73a24-a2ed-48bd-9b5f-0683174fb516" >
		<http:listener doc:name="Listener" doc:id="1cdaa016-9b5f-4d25-92b8-049a7e3b573b" config-ref="HTTP_Listener_config" path="/hi"/>
		<logger level="INFO" doc:name="First Check Logger" doc:id="1bd27185-c654-410a-9c9e-4c4c8eeba622" message="The flow is started here----&gt;"/>
		<set-payload value="#['Hi Darlings ']" doc:name="Hot Code Set Payload" doc:id="f7356c3b-d61c-468e-acf7-1a82683eafc1" />
		<ee:transform doc:name="Converting and Concatenating" doc:id="235e269f-f0cd-4d93-9e2c-ca39b6d1ff27" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	msg : payload ++ "Welcome to the MULEsoft"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Last Check Logger" doc:id="a98780fb-7135-4f9e-a5bb-4c35570e9018" message="The Final Output is -----&gt;#[payload]"/>
	</flow>
</mule>
